<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Plantilla | {{title}}</title>
		<link href="{{ 'css/toastr.css'|public }}" rel="stylesheet" />
		<link href="{{ 'css/style.css'|public }}" rel="stylesheet" />
		<link href="{{ 'css/AdminLTE.min.css' |public }}" rel="stylesheet">
	</head>
    <body class="frm">

		<div class="container-fluid">

				{% block content %}{% endblock %}

				<footer class="text-center footer-area">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
							{#Desarrollador por  {{ "now"|date("Y") }}#}
						</div>
				</footer>
		</div>

		<script src="{{ 'bower_components/jquery/dist/jquery.min.js'|public }}"></script>
		<script src="{{ 'bower_components/moment/min/moment.min.js'|public }}"></script>
		<!-- Popper js -->
		<script src="{{ 'js/bootstrap/popper.min.js' |public }}"></script>
		<!-- Bootstrap js -->
		<script src="{{ 'js/bootstrap/bootstrap.min.js' |public }}"></script>
		<!-- All Plugins js -->
		<script src="{{ 'bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js'|public }}"></script>
		<script src="{{ 'js/jquery.form.js'|public }}"></script>
		<script src="{{ 'js/toastr.js'|public }}"></script>
		<script src="{{ 'js/formulas.js'|public }}"></script>
		<script src="{{ 'js/jquery.validate.min.js' |public }}"></script>
		<script src="{{ 'js/AdminLTE.min.js' |public }}"></script>
		{% block scripts %}{% endblock %}

		<script>
			function redirect(url) { url = url || ''; window.location.href = base_url(url);}
			function base_url(url) { url = url || ''; return '{{''|url}}' + url;}
		</script>
	</body>
</html>